* {
    font-family: "Roboto", monospace;
}

.header {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}